<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <span>
                <h1>Hard Skills</h1>
            </span>
        </div>
        <div class="col-lg-2">
            <button *ngIf="isLogged" class="btn btn-secondary" type="button" routerLink="/newskill" >Agregar</button>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let skill of skill">
            <circle-progress
                [percent]="(skill.porcentaje)" 
                [radius]="90" 
                [imageSrc]="''" 
                [title]="(skill.nombre)"
                [titleColor]="'#212F3C'"
                [showTitle]="true" 
                [showImage]="false" 
                [imageHeight]="70" 
                [imageWidth]="70" 
                [showUnits]="false"
                [showSubtitle]="false" 
                [outerStrokeWidth]="16" 
                [innerStrokeWidth]="2" 
                [outerStrokeColor]="'#77BDDF'"
                [innerStrokeColor]="'#77BDDF'" 
                [animation]="true" 
                [animationDuration]="600">
            ></circle-progress>

            <td *ngIf="isLogged">
                <button  class="center but btn btn-danger" (click)="delete(skill.id)" >Borrar</button>
            </td>
            
        </div>
    </div>
</div>