<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <span>
                <h1>Hard Skills</h1>
            </span>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <circle-progress
                [percent]="95"
                [radius]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#0080ff'"
                [innerStrokeColor]="'#419cf8af'"
                [animation]="true"
                [animationDuration]="1500"
                [title]="'HTML'"
                [showUnits]="false"
                [showSubtitle]="false"
                [imageSrc]="'../assets/img/logos/html.png'"
                [showImage]="true"
                [imageHeight]="100"
                [imageWidth]="100"
            ></circle-progress>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <circle-progress
                [percent]="85"
                [radius]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#0080ff'"
                [innerStrokeColor]="'#419cf8af'"
                [animation]="true"
                [animationDuration]="1500"
                [title]="'HTML'"
                [showUnits]="false"
                [showSubtitle]="false"
                [imageSrc]="'../assets/img/logos/css.png'"
                [showImage]="true"
                [imageHeight]="95"
                [imageWidth]="95"
            ></circle-progress>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4">
            <circle-progress
                [percent]="80"
                [radius]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#0080ff'"
                [innerStrokeColor]="'#419cf8af'"
                [animation]="true"
                [animationDuration]="1500"
                [title]="'HTML'"
                [showUnits]="false"
                [showSubtitle]="false"
                [imageSrc]="'../assets/img/logos/js.png'"
                [showImage]="true"
                [imageHeight]="100"
                [imageWidth]="185"
            ></circle-progress>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <span>
                <h1>Soft Skills</h1>
            </span>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <circle-progress
                [percent]="70"
                [radius]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#0080ff'"
                [innerStrokeColor]="'#419cf8af'"
                [animation]="true"
                [animationDuration]="1500"
                [title]="'HTML'"
                [showUnits]="false"
                [showSubtitle]="false"
                [imageSrc]="'../assets/img/logos/github.png'"
                [showImage]="true"
                [imageHeight]="100"
                [imageWidth]="100"
            ></circle-progress>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <circle-progress
                [percent]="80"
                [radius]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#0080ff'"
                [innerStrokeColor]="'#419cf8af'"
                [animation]="true"
                [animationDuration]="1500"
                [title]="'HTML'"
                [showUnits]="false"
                [showSubtitle]="false"
                [imageSrc]="'../assets/img/logos/comunicacion.png'"
                [showImage]="true"
                [imageHeight]="100"
                [imageWidth]="100"
            ></circle-progress>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4">
            <circle-progress
                [percent]="95"
                [radius]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#0080ff'"
                [innerStrokeColor]="'#419cf8af'"
                [animation]="true"
                [animationDuration]="1500"
                [title]="'HTML'"
                [showUnits]="false"
                [showSubtitle]="false"
                [imageSrc]="'../assets/img/logos/idea.png'"
                [showImage]="true"
                [imageHeight]="100"
                [imageWidth]="100"
            ></circle-progress>
        </div>
    </div>
</div>