<div class="container">
    <div class="row">
        <div class="recuadro">
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <h1>Agregar nueva Skill.</h1>
                <div class="form-group">
                    <label for="nombreE">Nombre de la Skill.</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nombre" required>
                </div>
                <div class="form-group">
                    <label for="descripcionE">Porcentaje.</label>
                    <input type="text" class="form-control" id="porcentaje" name="porcentaje" [(ngModel)]="porcentaje" required>
                </div>
                <button style="margin-top: 20px;" class="btn btn-success">Guardar</button>
                <button (click)="onCancel()" style="margin-top: 20px; margin-left: 10px;" class="btn btn-danger">Cancelar</button>
                
            </form>
            
        </div>
    </div>
</div>
