<div class="container"*ngIf="expLab">
    <div class="row">
        <div class="recuadro">
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <h1>Editar educación.</h1>
                <div class="form-group">
                    <label for="nombreE">Nombre de la institución.</label>
                    <input type="text" class="form-control" id="nombreE" name="nombreE" [(ngModel)]="expLab.nombreE" required>
                </div>
                <div class="form-group">
                    <label for="descripcionE">Certificación.</label>
                    <input type="text" class="form-control" id="descripcionE" name="descripcionE" [(ngModel)]="expLab.descripcionE" required>
                </div>
                <button style="margin-top: 20px;" class="btn btn-success">Guardar</button>
                <button (click)="onCancel()" style="margin-top: 20px; margin-left: 10px;" class="btn btn-danger">Cancelar</button>
                
            </form>
            
        </div>
    </div>
</div>
