.container{
    background-color: white;
    border-radius: 25px;
    padding: 50px;
    margin-top: 30px;
    text-align: center;
    
}
#completar{
    border-radius: 10px;
    border: none;
    background-color: #2e9dd4d1;
    margin-bottom: 10px;
    color: black;
    height: 30px;
    padding-left: 12px;
}
#completar:hover{
    background-color: #5fbbe9d1;
}
#boton2{
    background-color: #2e9dd4d1;
    border-radius: 10px;
    border: none;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-right: 20px;
}
#boton2:hover{
    background-color: #5fbbe9d1;
}
#nosoy{
    color: black;
    
}