<div id="mostrar" class="container">
    
    <div class="row">

        <div  class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <span>
                <h1>Identificación</h1>
                <form action="">
                    <input id="completar" placeholder="Usuario" type="text"><br>
                    <input id="completar" placeholder="Contraseña" type="password"> <br>
                    <button id="boton2">Login</button>
                </form>
            </span>
        </div>
        <div  class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <span>
                <a href="" id="nosoy">No soy administrador.</a>
            </span>
        </div>
        <div id="relleno">

        </div>
        <div id="relleno">
            
        </div>
    </div>
</div>