<div class="login-page">
    <div class="form">
      <form #f="ngForm" (ngSubmit)="onLogin()" class="login-form">
        <div>
            <input type="text" id="nombreUsuario" name="nombreUsuario" placeholder="username" [(ngModel)]="nombreUsuario" required />
            <label for="nombreUsuario"></label>
        </div>
        <div>
            <input type="password" id="password" name="password" placeholder="password" [(ngModel)]="password" required />
            <label for="password"></label>
        </div>
        <button>login</button>
      </form>
    </div>
  </div>