<div class="container">
    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <span>
                <h1>Educacíon</h1>
            </span>
        </div>
        <div id="tra">
            <h3>Tecnico Universitario en Programacion</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus repellendus quasi voluptatem beatae tenetur molestiae totam sint quisquam et nisi obcaecati veniam dignissimos, quia quibusdam ut, nesciunt aut quidem assumenda.</p>
        </div>
        <div id="tra">
            <h3>Argentina Programa</h3>
            <p>Curso se programar aprobado.</p>
            
        </div>
        <div>

        </div>
    </div>
</div>