.text{
    text-align: center;
    background-color: #77BDDF;
    
    border-radius: 20px;
    margin-top: 50px;
    padding: 15px;
}
#redireccion{
    background-color: #2e9dd4d1;
    border-radius: 10px;
    border: none;
    padding: 5px;
    color: black;
}
#redireccion:hover{
    background-color: #d6edf934;
}