<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2">
            <img id="yo" src="{{persona.img}}"
            class="img-fluid">
        </div>
        
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
            <span>
                <h1>Acerca de mí</h1>
                <p>{{persona.descripcion}}</p>
            </span>
        </div>
        <button *ngIf="isLogged" class="but btn btn-light" routerLink="/editacercade/1">
            <i class="bi bi-pencil-fill"></i> EDITAR PERFIL</button>
    </div>
</div>