<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2">
            <img id="yo" src="{{persona.img}}"
            class="img-fluid">
        </div>
        
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10">
            <span>
                <h1>Acerca de mí</h1>
                <b>{{persona.descripcion}}</b>
            </span>
        </div>
        <br>
        <button *ngIf="isLogged" class="btn btn-outline-secondary" routerLink="/editacercade/1">
            <i class="bi bi-pencil-fill"></i> EDITAR PERFIL</button>
    </div>
</div>