<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2">
            <img id="yo" src="../../../assets/img/perfil.jpeg"
            class="img-fluid">
        </div>
        
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
            <span>
                <h1>Acerca de mí</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem tempora neque veniam perspiciatis doloribus cum quae animi, explicabo soluta dolorem quod ad omnis, rerum ex distinctio itaque veritatis asperiores dolore.</p>
            </span>
        </div>
    </div>
</div>