<div class="container"*ngIf="persona">
    <div class="row">
        <div class="recuadro">
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <h1>Editar perfil</h1>
                <div class="form-group">
                    <label for="nombre"><b>Nombre</b></label>
                    <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="persona.nombre" required>
                </div>
                <div class="form-group">
                    <label for="apellido"><b>Apellido</b></label>
                    <input type="text" class="form-control" id="apellido" name="apellido" [(ngModel)]="persona.apellido" required>
                </div>
                <div class="form-group">
                    <label for="descripcion"><b>Descripcion</b></label>
                    <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="persona.descripcion" required>
                </div>
                <div class="form-group">
                    <label for="img"><b>Imagen</b></label>
                    
                    <input type="text" class="form-control" id="img" name="img" [(ngModel)]="persona.img" required>
                    <p>Debe introducir la URL de una imagen subida a un servicio como "imgbb".</p>
                </div>
                <button style="margin-top: 20px;" class="btn btn-success">Guardar</button>
                <button (click)="onCancel()" style="margin-top: 20px; margin-left: 10px;" class="btn btn-danger">Cancelar</button>
                
            </form>
            
        </div>
    </div>
</div>
